<div class="flex justify-between">
  <div class="mb-4 mt-10">
    <button
      type="button"
      mat-button
      class="text-am-purple text-sm h-10 font-medium w-full rounded-xl"
      (click)="fileSelector.click()"
    >
      Subir archivo<mat-icon [icIcon]="icUpload"></mat-icon>
    </button>
    <input
      type="file"
      hidden
      #fileSelector
      [accept]="acceptFileType"
      (change)="selectedFileEvent($event)"
    />
  </div>
  <div>
    <div *ngIf="fileBase64">
      <iframe
        [src]="fileBase64"
        class="w-42 h-32 border border-dashed border-am-main-blue-light rounded flex flex-col justify-between"
      ></iframe>
    </div>
    <div *ngIf="urlCurrentFile && !fileBase64">
      <iframe
        [src]="urlCurrentFile"
        class="w-42 h-32 border border-dashed border-am-main-blue-light rounded flex flex-col justify-between"
      ></iframe>
    </div>
  </div>
</div>
